

{#------------------------------------- ANCIEN CODE DU DEBUT -------------------#}

{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
    {#<title>Bienvenue sur ma page edition </title>#}
{#</head>#}
{#<body>#}
{#<h1>Hello {{ nom }} !</h1>#}
{#<h1>#}
    {#Hello Akoi#}
{#</h1>#}
{#<p>#}
    {#EDIT PAGE#}
{#</p>#}
{#</body>#}
{#</html>#}