{#cette vue n hérite de personne#}
{#elle sera incluse par d autres vues qui, elles, hériteront probablement du layout#}
{#pour notre cas actuel, cela ne nous concerne pas#}

<h3>Formulaire d'annonces</h3>

{#on complétera ultérieurement avec le form#}

<div class="well">
{{  form(form) }}
</div>
